# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/media
/staticfiles

# IDE
.idea/

# Archives and temp files
*.zip
*.tmp
