asgiref==3.11.1
cffi==2.0.0
cryptography==46.0.6
Django==6.0.3
django-class-auth-views==1.0.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
mysqlclient==2.2.8
pycparser==3.0
PyJWT==2.12.1
PyMySQL==1.1.2
sqlparse==0.5.5
tzdata==2025.3
